.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

ul {
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
}

ul li {
  text-decoration: none;
}

ul li a {
  color: gray;
}

ul li a:hover {
  color: #00a8ff;
}

ul li a.active {
  color: black;
}

.title-links {
  display: flex;
  align-items: center;
}

.title-links h1 {
  color: #0290ff;
}

img {
  width: 30px;
}

.book-item {
  display: flex;
  margin: 0 0 2.375rem;
  border: 1px solid lightgrey;
  justify-content: space-between;
}
